.nav {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #337ab7;
}

.search {
  text-align: center;
}

.search-input {
  height: 30px;
  width: 80%;
  border-radius: 10px;
  border: 2px solid #ced4da;
  color: #495057;
  outline: none;
}

.add {
  background: #337ab7;
  color: white;
  border-color: #2e6da4;
  width: 60px;
  height: 25px;
  bottom: 10px;
  border-radius: 5px;
}

.table-head {
  background: #31b0d5;
  color: white;
  font-family: cursive;
  font-size: 14px;
  height: 35px;
}

.card {
  margin: 45px;
}

.card-header {
  position: relative;
  float: right;
  bottom: 33px;
  float: right;
  right: 21%;
}

.card-body table{
  margin: auto;
  width: 64%;
}

td input {
  border: 1px solid #ced4da;
  color: #495057;
  border-radius: .25rem;
  height: 20px;
}

.sort-img {
  height:10px;
  width: 10px;
  position: relative;
  top: 2px;
  left: 2px;
}

.delete {
  border: 1px solid #ced4da;
  color: #495057;
  background: white;
  border-radius: .25rem;
  height: 24px;
}
